<ion-menu side="end" contentId="main-content">
  <ion-header class="titulo_menu"> ඞ </ion-header>
 </ion-menu>
 
 <ion-header>
   <ion-toolbar>
     <ion-buttons slot="end">
       <ion-menu-button class="menu" autoHide="false"></ion-menu-button>
     </ion-buttons>
     <ion-title>
       <ion-icon class="mais" name="fitness"></ion-icon>
       MediApp
     </ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content>
  <ion-title class="tituloproj">
    <ion-icon name="business"></ion-icon>
    O que é MediApp?
  </ion-title>
  <p class="carac">A MediApp é um projeto que se esforça para auxiliar nossos usuários no uso de seus medicamentos ao ajustar a sua dosagem para seu peso e características físicas, tais como alergias, históricos médicos que possam dificultar no cálculo da dosagem.</p>
  <ion-header class="Participantes">
    <ion-icon name="people"></ion-icon>
    Quem somos?
  </ion-header>
  <ion-list class="list">
    <ion-item>
      <ion-label>
        <ion-icon name="person" class="icone-secao icone-grande"></ion-icon>
        Lucas Fernandes Brayner - 01519713
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" class="icone-secao icone-grande"></ion-icon>
        Kaio Roberto Araújo de Lima - 01529937
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" class="icone-secao icone-grande"></ion-icon>
        Nelson Eduardo Lemos de Melo Filho - 01543385
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" class="icone-secao icone-grande"></ion-icon>
        Pedro Henrique Feitosa da Silva - 01516541
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" class="icone-secao icone-grande"></ion-icon>
        Leonardo José Souto Almeida Filho - 01502617
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="person" class="icone-secao icone-grande"></ion-icon>
        Leonardo Luiz Guedes Coelho - 01515698
      </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon name="person" class="icone-secao icone-grande"></ion-icon>
      Marcos Duarte Vieira da Silva - 01524163
    </ion-label>
  </ion-item>
    </ion-list>

</ion-content>
