<ion-menu side="end" contentId="main-content">
  <ion-header class="titulo_menu"> ඞ </ion-header>
 </ion-menu>
 
 <ion-header>
   <ion-toolbar>
     <ion-buttons slot="end">
       <ion-menu-button class="menu" autoHide="false"></ion-menu-button>
     </ion-buttons>
     <ion-title>
       <ion-icon class="mais" name="fitness"></ion-icon>
       MediApp
     </ion-title>
   </ion-toolbar>
 </ion-header>
 
 <ion-content id="main-content">
   <!-- Conteúdo principal da página aqui -->
 </ion-content>