<ion-menu side="end" contentId="main-content">
  <ion-header class="titulo_menu"> ඞ </ion-header>
 </ion-menu>
 
 <ion-header>
   <ion-toolbar>
     <ion-buttons slot="end">
       <ion-menu-button class="menu" autoHide="false"></ion-menu-button>
     </ion-buttons>
     <ion-title>
       <ion-icon class="mais" name="fitness"></ion-icon>
       MediApp
     </ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content id="main-content">
  <div class="retangulo">
    <p>ㅤㅤㅤㅤㅤㅤ</p>
    <p class="contatozika"> 
      <ion-icon class="callzika" name="call"></ion-icon>
      Contato com nossa central de atendimento:
    </p>
    <a class="email" href="mailto:suporte@mediappsuporte.com.br">suporte@mediappsuporte.com.br</a>
    <p>ㅤㅤㅤㅤㅤㅤ</p>
    <p class="phone"> +55 (081) 0500-2023-007 </p>
    <p class="localizacaozika">
      <ion-icon class="mundozika" name="earth"></ion-icon>
        Endereço:
    </p>
    <p class="rua">
      R. Guilherme Pinto, 114 - Graças, Recife - PE, 52011-210
    </p>
  </div>
  <button class="alert-button" (click)="mostrarAlerta()"></button>
</ion-content>